<nb-layout container>

    <nb-layout-header class="layout-header" fixed>
        <div class="header-container">
            <div class="logo-container">
                <a (click)="toggleSidebar()" class="sidebar-toggle">
                    <nb-icon icon="menu-2-outline"></nb-icon>
                </a>
                <a class="logo" (click)="navigateHome()">Re-Com<span></span></a>
            </div>
            <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
                <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
            </nb-select>
        </div>

        <div class="header-container">
            <nb-actions size="small">
                <nb-action *ngIf="!isContected" class="control-item" (click)="goToLogin()">Đăng nhập</nb-action>
                <nb-action *ngIf="isContected" class="control-item" icon="email-outline" badgeText="12"
                    badgeStatus="danger" [nbPopover]="message" [nbPopoverPlacement]="position"></nb-action>
                <nb-action *ngIf="isContected" class="control-item" icon="bell-outline" badgeText="33"
                    badgeStatus="warning" [nbPopover]="notification" [nbPopoverPlacement]="position"></nb-action>
                <nb-action *ngIf="isContected" class="user-action">
                    <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="my-context-menu"
                        [onlyPicture]="userPictureOnly" [name]="user ? user.name : 'Nguyen Minh'"
                        [title]="user ? user.job : 'Developer'"
                        [picture]="user ? user.picture : 'https://via.placeholder.com/50/4479e7/ffffff?Text=IMG'">
                    </nb-user>
                </nb-action>
            </nb-actions>
        </div>
        <!-- Popover Message List -->
        <ng-template #message>
            <nb-card class="margin-bottom-0" size="medium">
                <nb-card-header>Message list</nb-card-header>
                <nb-list>
                    <nb-list-item>Message 1</nb-list-item>
                    <nb-list-item>Message 2</nb-list-item>
                    <nb-list-item>Message 3</nb-list-item>
                    <nb-list-item>Message 4</nb-list-item>
                    <nb-list-item>Message 5</nb-list-item>
                    <nb-list-item>Message 6</nb-list-item>
                    <nb-list-item>Message 7</nb-list-item>
                    <nb-list-item>Message 8</nb-list-item>
                    <nb-list-item>Message 9</nb-list-item>
                    <nb-list-item>Message 10</nb-list-item>
                </nb-list>
                <nb-card-footer>See all</nb-card-footer>
            </nb-card>
        </ng-template>
        <!-- /Popover Message List -->
        <!-- Popover Notification List -->
        <ng-template #notification>
            <nb-card class="margin-bottom-0" size="medium">
                <nb-card-header>Notification list</nb-card-header>
                <nb-list>
                    <nb-list-item>Notification Msg 1</nb-list-item>
                    <nb-list-item>Notification Msg 2</nb-list-item>
                    <nb-list-item>Notification Msg 3</nb-list-item>
                    <nb-list-item>Notification Msg 4</nb-list-item>
                    <nb-list-item>Notification Msg 5</nb-list-item>
                    <nb-list-item>Notification Msg 6</nb-list-item>
                    <nb-list-item>Notification Msg 7</nb-list-item>
                    <nb-list-item>Notification Msg 8</nb-list-item>
                    <nb-list-item>Notification Msg 9</nb-list-item>
                    <nb-list-item>Notification Msg 10</nb-list-item>
                </nb-list>
                <nb-card-footer>See all</nb-card-footer>
            </nb-card>
        </ng-template>
        <!-- /Popover Notification List -->
    </nb-layout-header>

    <nb-sidebar>
        <nb-menu [items]="sidebarMenu">
        </nb-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-basic">
        <div class="loading text-center" *ngIf="loading">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </nb-layout-column>

</nb-layout>