<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Đổi mật khẩu</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="changePasswordForm">
                    <div class="form-group row">
                        <label for="inputOldPassword3" class="label col-sm-3 form-control-label">Mật khẩu cũ</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="old_password" nbInput fullWidth
                                [status]="(submitted && f.old_password.errors) ? 'danger' : 'basic'"
                                id="inputOldPassword3" placeholder="Mật khẩu cũ">
                            <div *ngIf="submitted && f.old_password.errors" class="text-danger">
                                Mật khẩu cũ không thể để trống.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNewPassword3" class="label col-sm-3 form-control-label">Mật khẩu mới</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="new_password" nbInput fullWidth
                                [status]="(submitted && f.new_password.errors) ? 'danger' : 'basic'"
                                id="inputNewPassword3" placeholder="Mật khẩu mới">
                            <div *ngIf="submitted && f.new_password.errors" class="text-danger">
                                Mật khẩu mới không thể để trống.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputConfirmPassword3" class="label col-sm-3 form-control-label">Xác nhận mật
                            khẩu</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="confirm_password" nbInput fullWidth
                                [status]="(submitted && f.confirm_password.errors) ? 'danger' : 'basic'"
                                id="inputConfirmPassword3" placeholder="Xác nhận mật khẩu">
                            <div *ngIf="submitted && f.confirm_password.errors" class="text-danger">
                                Mật khẩu xác nhận không thể để trống.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9 text-right">
                            <button type="submit" nbButton status="warning" (click)="onSubmit()">Thay đổi</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>