<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Change Password</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="changePasswordForm">
                    <div class="form-group row">
                        <label for="inputOldPassword3" class="label col-sm-3 form-control-label">Old Password</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="old_password" nbInput fullWidth
                                [status]="(submitted && f.old_password.errors) ? 'danger' : 'basic'"
                                id="inputOldPassword3" placeholder="Old Password">
                            <div *ngIf="submitted && f.old_password.errors" class="text-danger">
                                Old password can not be empty!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNewPassword3" class="label col-sm-3 form-control-label">New Password</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="new_password" nbInput fullWidth
                                [status]="(submitted && f.new_password.errors) ? 'danger' : 'basic'"
                                id="inputNewPassword3" placeholder="New Password">
                            <div *ngIf="submitted && f.new_password.errors" class="text-danger">
                                New password can not be empty!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputConfirmPassword3" class="label col-sm-3 form-control-label">Confirm
                            Password</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="confirm_password" nbInput fullWidth
                                [status]="(submitted && f.confirm_password.errors) ? 'danger' : 'basic'"
                                id="inputConfirmPassword3" placeholder="Confirm Password">
                            <div *ngIf="submitted && f.confirm_password.errors" class="text-danger">
                                Confirm password can not be empty!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9 text-right">
                            <button type="submit" nbButton status="warning" (click)="onSubmit()">Change</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>