<div class="profile">
    <div class="row">
        <!-- col-xl-8 col-sm-6 col-md-8  -->
        <div class="col-xl-8 order-2 order-sm-2 order-xl-1">
            <nb-card accent="warning">
                <nb-card-header>Thông tin chung</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="companyForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputCompanyName" class="label">Tên công ty</label>
                                    <input type="text" [status]="(submitted && f.full_name.errors) ? 'danger' : 'basic'"
                                        nbInput fullWidth id="inputCompanyName" placeholder="Tên công ty"
                                        formControlName="full_name">
                                    <ng-container *ngIf="f.full_name.invalid  && submitted">
                                        <p class="caption status-danger" *ngIf="f.full_name.errors?.required">
                                            Tên công ty không thể để trống.
                                        </p>
                                        <p class="caption status-danger"
                                            *ngIf="f.full_name.errors?.minlength || f.full_name.errors?.maxlength">
                                            Tên công ty từ 10 - 256 ký tự
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputPhone" class="label">Số điện thoại</label>
                                    <input type="tel" [status]="(submitted && f.phone.errors) ? 'danger' : 'basic'"
                                        nbInput fullWidth id="inputPhone" placeholder="Số điện thoại"
                                        formControlName="phone">
                                    <ng-container *ngIf="f.phone.invalid  && submitted">
                                        <p class="caption status-danger" *ngIf="f.phone.errors?.required">
                                            Số điện thoại không thể để trống.
                                        </p>
                                        <p class="caption status-danger" *ngIf="f.phone.errors?.pattern">
                                            Chỉ được nhập số
                                        </p>
                                        <p class="caption status-danger"
                                            *ngIf="f.phone.errors?.minlength || f.phone.errors?.maxlength">
                                            Số điện thoại từ 10 - 12 ký tự
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputMember" class="label">Số nhân sự</label>
                                    <nb-select [selected]="1" id="inputMember" fullWidth formControlName="member_total">
                                        <nb-option *ngFor="let item of staff;" [value]="item.value">
                                            {{item.title}}
                                        </nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputEmail" class="label">Email</label>
                                    <input type="email" [status]="(submitted && f.email.errors) ? 'danger' : 'basic'"
                                        nbInput fullWidth id="inputEmail" placeholder="Email" formControlName="email">
                                    <ng-container *ngIf="f.email.invalid  && submitted">
                                        <p class="caption status-danger" *ngIf="f.email.errors?.required">
                                            Email không thể để trống.
                                        </p>
                                        <p class="caption status-danger" *ngIf="f.email.errors?.pattern">
                                            Email phải đúng định dạng
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputWebsite" class="label">Website</label>
                                    <input type="text" [status]="(submitted && f.website.errors) ? 'danger' : 'basic'"
                                        nbInput fullWidth id="inputWebsite" placeholder="https://example.com"
                                        formControlName="website">
                                    <ng-container *ngIf="f.website.invalid  && submitted">
                                        <p class="caption status-danger"
                                            *ngIf="f.website.errors?.minlength || f.website.errors?.maxlength">
                                            Website ty từ 12 - 256 ký tự
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputAddress" class="label">Địa chỉ</label>
                                    <input type="text" [status]="(submitted && f.address.errors) ? 'danger' : 'basic'"
                                        nbInput fullWidth id="inputAddress" placeholder="Địa chỉ"
                                        formControlName="address">
                                    <ng-container *ngIf="f.address.invalid  && submitted">
                                        <p class="caption status-danger" *ngIf="f.address.errors?.required">
                                            Địa chỉ không thể để trống.
                                        </p>
                                        <p class="caption status-danger" *ngIf="f.address.errors?.maxlength">
                                            Địa chỉ tối đa 256 ký tự
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputProvince" class="label">Tỉnh/Thành phố</label>
                                    <nb-select id="inputProvince" fullWidth [selected]="1"
                                        formControlName="province_id">
                                        <nb-option [value]="1">Hà Nội</nb-option>
                                        <nb-option [value]="2">TP Hồ Chí Minh</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputJobType" class="label">Lĩnh vực</label>
                                    <nb-select id="inputJobType" fullWidth [selected]="1" formControlName="job_id">
                                        <nb-option [value]="1">IT Phần mềm</nb-option>
                                        <nb-option [value]="2">Giáo dục</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="submit" hero nbButton status="warning" (click)="onSubmit()">Submit</button> -->
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" nbButton status="warning" (click)="onSubmit()">Submit</button>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
        <!-- col-xl-4 col-sm-6 col-md-4  -->
        <div class="col-xl-4 order-1 order-sm-1 order-xl-12">
            <nb-card accent="warning">
                <nb-card-header>Logo Công ty</nb-card-header>
                <nb-card-body>
                    <div class="logo">
                        <label for="fileToUpload" nbTooltip="Chọn ảnh" nbTooltipPlacement="top">
                            <img [attr.src]="'https://via.placeholder.com/250/4479e7/ffffff?Text=IMG'" alt="logo">
                        </label>
                        <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*" hidden>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button [disabled]="isLoading" nbButton hero status="warning">Chọn ảnh</button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>