<div class="company-detail-placeholder">
    <div class="title-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
    </div>
    <div class="content-placeholder">
        <div class="img-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
        </div>
        <div class="content-placeholder_subtitle">
            <div class="subtitle-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
            </div>
            <div class="subtitle-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
            </div>
            <div class="subtitle-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
            </div>
            <div class="subtitle-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
            </div>
            <div class="subtitle-placeholder" [style.background]="currentTheme === 'dark' ? '#151a31' : '#edf1f7'">
            </div>
        </div>
    </div>
</div>