<section class="register-page">
    <h1 id="title" class="title">Đăng ký</h1>

    <form [formGroup]="registerForm" aria-labelledby="title" novalidate>

        <div class="form-control-group">
            <label class="label" for="input-nick_name">Biệt danh:</label>
            <input type="text" id="input-nick_name" name="nick_name" nbInput class="input-full-width" fullWidth
                tabindex="1" formControlName="nick_name" fieldsize="large" placeholder="Biệt danh" required
                [status]="(submitted && f.nick_name.errors) ? 'danger' : 'primary'">
            <ng-container *ngIf=" f.nick_name.invalid && submitted">
                <p class="caption status-danger" *ngIf="f.nick_name.errors?.required">
                    Biệt danh không thể để trống.
                </p>
                <p class="caption status-danger" *ngIf="f.nick_name.errors?.minlength || f.nick_name.errors?.maxlength">
                    Biệt danh từ 5 - 30 ký tự
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-email">Email:</label>
            <input type="text" id="input-email" name="email" nbInput class="input-full-width" fullWidth tabindex="1"
                formControlName="email" fieldsize="large" placeholder="Email" required
                [status]="(submitted && f.email.errors) ? 'danger' : 'primary'">
            <ng-container *ngIf="f.email.invalid && submitted">
                <p class="caption status-danger" *ngIf="f.email.errors?.required">
                    Email không thể để trống.
                </p>
                <p class="caption status-danger" *ngIf="f.email.errors?.pattern">
                    Email phải đúng định dạng
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-password">Mật khẩu:</label>
            <input type="password" id="input-password" name="password" nbInput class="input-full-width" fullWidth
                formControlName="password" tabindex="2" fieldsize="large" placeholder="Mật khẩu" required
                [status]="(submitted && f.password.errors) ? 'danger' : 'primary'">
            <ng-container *ngIf="f.password.invalid && submitted">
                <p class="caption status-danger" *ngIf="f.password.errors?.required">
                    Mật khẩu không thể để trống.
                </p>
                <p class="caption status-danger" *ngIf="f.password.errors?.minlength || f.password.errors?.maxlength">
                    Mật khẩu từ 6 - 12 ký tự
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-rep-password">Xác nhận mật khẩu:</label>
            <input type="password" id="input-rep-password" name="rep_password" nbInput class="input-full-width"
                fullWidth formControlName="rep_password" tabindex="2" fieldsize="large" placeholder="Xác nhận mật khẩu"
                required [status]="(submitted && f.rep_password.errors) ? 'danger' : 'primary'">
            <ng-container *ngIf="f.rep_password.invalid && submitted">
                <p class="caption status-danger" *ngIf="f.rep_password.errors?.required">
                    Xác nhận mật khẩu không thể để trống.
                </p>
                <p class="caption status-danger"
                    *ngIf="f.rep_password.errors?.minlength || f.rep_password.errors?.maxlength">
                    Xác nhận mật khẩu từ 6 - 12 ký tự
                </p>
                <p class="caption status-danger"
                    *ngIf="f.password.value !== f.rep_password.value && !f.rep_password.errors?.required">
                    Password does not match the confirm password.
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-gender">Giới tính</label>
            <nb-select id="input-gender" name="gender" size="large" fieldsize="large" formControlName="gender" fullWidth
                selected="1">
                <nb-option value="1">Nam</nb-option>
                <nb-option value="0">Nữ</nb-option>
            </nb-select>
        </div>

        <!-- <div class="form-control-group accept-group">
            <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="">
                Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
            </nb-checkbox>
        </div> -->

        <button [disabled]="loading" fullwidth nbbutton size="large" status="primary"
            class="appearance-filled full-width size-large status-primary shape-rectangle btn-disabled transitions"
            tabindex="4" (click)="onSubmit()">Đăng ký</button>
    </form>

    <!-- <section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
        or enter with:
        <div class="socials">
            <ng-container *ngFor="let socialLink of socialLinks">
                <a *ngIf="socialLink.link" [routerLink]="socialLink.link" [attr.target]="socialLink.target"
                    [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">
                    <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
                    <ng-template #title>{{ socialLink.title }}</ng-template>
                </a>
                <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target"
                    [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">
                    <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
                    <ng-template #title>{{ socialLink.title }}</ng-template>
                </a>
            </ng-container>
        </div>
    </section> -->

    <section class="another-action" aria-label="Sign in">
        Đã có tài khoản? <a class="text-link" routerLink="../login">Đăng nhập</a>
    </section>
</section>