.login-page {
    .full-width {
        width: 100%;
    }

    .half-part-width {
        width: 50%;
    }

    .size-medium {
        padding: 0.6875rem 1.125rem;
    }

    a {
        cursor: pointer;
    }

}