<div class="profile">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-xl-4">
            <nb-card>
                <nb-card-header>Ảnh đại diện</nb-card-header>
                <nb-card-body>
                    <div class="avatar">
                        <label for="fileToUpload" nbTooltip="Chọn ảnh" nbTooltipPlacement="top">
                            <img [attr.src]="avatarLocalSrc " alt="avatar">
                        </label>
                        <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*"
                            (change)="onFileSelected($event.target.files)" hidden>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton hero status="warning" [disabled]="disable" (click)="uploadAvatar()">Tải
                        lên</button>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-sm-6 col-md-8 col-xl-8">
            <nb-card>
                <nb-card-header>Thông tin cá nhân</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="profileForm">
                        <div class="row">
                            <div class="col-xl-6 p-b-10">
                                <label>Họ</label>
                                <input type="text" [status]="(submitted && f.first_name.errors) ? 'danger' : 'basic'"
                                    nbInput fullWidth placeholder="Họ" formControlName="first_name">
                                <ng-container *ngIf="f.first_name.invalid && submitted">
                                    <p class="caption status-danger" *ngIf="f.first_name.errors?.required">
                                        Họ không thể để trống.
                                    </p>
                                    <p class="caption status-danger" *ngIf="f.first_name.errors?.maxlength">
                                        Họ tối đa 20 ký tự
                                    </p>
                                </ng-container>
                            </div>
                            <div class="col-xl-6 p-b-10">
                                <label>Tên</label>
                                <input type="text" [status]="(submitted && f.last_name.errors) ? 'danger' : 'basic'"
                                    nbInput fullWidth placeholder="Tên" formControlName="last_name">
                                <ng-container *ngIf="f.last_name.invalid && submitted">
                                    <p class="caption status-danger" *ngIf="f.last_name.errors?.required">
                                        Tên không thể để trống.
                                    </p>
                                    <p class="caption status-danger" *ngIf="f.last_name.errors?.maxlength">
                                        Tên tối đa 8 ký tự
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 p-b-10">
                                <label>Biệt danh</label>
                                <input type="text" [status]="(submitted && f.nick_name.errors) ? 'danger' : 'basic'"
                                    nbInput fullWidth placeholder="Biệt danh" formControlName="nick_name">
                                <ng-container *ngIf="f.nick_name.invalid  && submitted">
                                    <p class="caption status-danger" *ngIf="f.nick_name.errors?.required">
                                        Biệt danh không thể để trống.
                                    </p>
                                    <p class="caption status-danger"
                                        *ngIf="f.nick_name.errors?.minlength || f.nick_name.errors?.maxlength">
                                        Biệt danh từ 5 - 30 ký tự
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 p-b-10">
                                <label class="p-r-10">Giới tính</label>
                                <nb-select formControlName="gender" [selected]="user ? user.gender.toString() : 1">
                                    <nb-option value="1">Nam</nb-option>
                                    <nb-option value="0">Nữ</nb-option>
                                </nb-select>
                            </div>
                            <div class="col-xl-6 p-b-10">
                                <label class="p-r-10">Ngày sinh</label>
                                <input nbInput placeholder="Chọn ngày sinh" [nbDatepicker]="formpicker"
                                    formControlName="birthday">
                                <nb-datepicker #formpicker></nb-datepicker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 p-b-10">
                                <label>Email</label>
                                <input type="text" [status]="(submitted && f.email.errors) ? 'danger' : 'basic'" nbInput
                                    fullWidth placeholder="Email" formControlName="email">
                                <ng-container *ngIf="f.email.invalid  && submitted">
                                    <p class="caption status-danger" *ngIf="f.email.errors?.required">
                                        Email không thể để trống.
                                    </p>
                                    <p class="caption status-danger" *ngIf="f.email.errors?.pattern">
                                        Email phải đúng định dạng
                                    </p>
                                </ng-container>
                            </div>
                            <div class="col-xl-6 p-b-10">
                                <label>Điện thoại</label>
                                <input type="text" nbInput fullWidth placeholder="Điện thoại" formControlName="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 p-b-10">
                                <label>Địa chỉ</label>
                                <input type="text" [status]="(submitted && f.address.errors) ? 'danger' : 'basic'"
                                    nbInput fullWidth placeholder="Địa chỉ" formControlName="address">
                                <ng-container *ngIf="f.address.invalid  && submitted">
                                    <p class="caption status-danger" *ngIf="f.address.errors?.maxlength">
                                        Địa chỉ tối đa 256 ký tự
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 p-b-10">
                                <label>Mô tả</label>
                                <textarea rows="5" nbInput fullWidth placeholder="Mô tả"
                                    formControlName="description"></textarea>
                                <ng-container *ngIf="f.description.invalid  && submitted">
                                    <p class="caption status-danger" *ngIf="f.description.errors?.maxlength">
                                        Mô tả tối đa 500 ký tự
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
                <nb-card-footer class="text-right">
                    <button [disabled]="isLoading" nbButton hero status="warning" (click)="submit()">Cập nhật</button>
                    <!-- <button nbButton hero status="primary">Back</button> -->
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-xl-6">
        </div>
    </div>
</div>