@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(( // add your variables here like:
    // color-primary-100: #faf7ff,
    // color-primary-200: #ece3ff,
    // color-primary-300: #d5bfff,
    // color-primary-400: #b18aff,
    // color-primary-500: #a16eff,
    // color-primary-600: #7b51db,
    // color-primary-700: #5a37b8,
    // color-primary-800: #3e2494,
    // color-primary-900: #29157a,

  ), dark, dark);
