nb-card {
  overflow: hidden;
}

nb-tabset {
  display: flex;
  flex-direction: column;

  ::ng-deep ul {
    // make same size as card header
    padding-bottom: 1px;

    ::ng-deep .tab-link {
      padding: 1.25rem 2rem;

      &:focus {
        outline: none;
      }
    }
  }
}

nb-tab {
  padding: 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border-top: none;
  }

  .icon-search {
    cursor: pointer;
  }
}

.company {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border-top: none;
  }

  ::ng-deep .company-title {
    cursor: pointer;
    display: inline-block;

    &:hover {
      background: -webkit-gradient(linear, left top, right top, from(#ffc94d), to(#ffaa00));
      background: linear-gradient(to right, #ffc94d, #ffaa00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

app-company-placeholder {
  width: 100%;
}

.pd-0 {
  padding: 0;
}

.p-r-10 {
  padding-right: 10px;
}

::ng-deep .tab-statistic-comment {
  .user-container {
    position: relative;
    display: flex;
    align-items: center;

    .user-picture.initials {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nb-theme-cosmic .shape-round .user-picture {
      border-radius: 50%;
    }

    .info-container {
      margin-left: .5rem;
    }

    .user-picture {
      height: 3.25rem;
      width: 3.25rem;
      border-radius: 50%;
      // border: 1px solid transparent;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .user-name {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  .user-title {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding-right: 5px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
