<div class="row">
    <div class="col-xl-6">
        <nb-card accent="danger">
            <nb-card-header>Lọc</nb-card-header>
            <nb-card-body>
                <!-- Search -->
                <div class="form-group row">
                    <label for="inputS" class="label col-sm-2 form-control-label">Tên công ty</label>
                    <div class="col-sm-10">
                        <input type="text" nbInput fullWidth placeholder="Search" (keyup)="findCompanyByName($event)">
                    </div>
                </div>
                <div class="row">
                    <!-- Province -->
                    <div class="col col-sm-6 col-xl-6">
                        <div class="form-group row">
                            <label for="inputS" class="label col-sm-4 form-control-label">Tỉnh/Thành phố</label>
                            <div class="col-sm-8">
                                <nb-select [selected]="provinceId" fullWidth>
                                    <nb-option *ngFor="let province of provinces;" [value]="province.province_id"
                                        (click)="onChangeFilter(province.province_id,'')">
                                        {{province.province_name}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                    <!-- Job Type -->
                    <div class="col col-sm-6 col-xl-6">
                        <div class="form-group row">
                            <label for="inputS" class="label col-sm-3 form-control-label">Lĩnh vực</label>
                            <div class="col-sm-9">
                                <nb-select [selected]="jobId" fullWidth>
                                    <nb-option *ngFor="let job of jobs;" [value]="job.job_id"
                                        (click)="onChangeFilter('',job.job_id)">
                                        {{job.job_name}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-6">
        <!-- Notify -->
        <nb-flip-card>
            <nb-card-front>
                <nb-card accent="success" status="success">
                    <nb-card-header>Người lao động</nb-card-header>
                    <nb-card-body>
                        <ul class="mb-2">
                            <li>Far far away, behind the word mountains</li>
                            <li>Far from the countries Vokalia and Consonantia</li>
                            <li>There live the blind texts.</li>
                            <li>Right at the coast of the Semantics.</li>
                            <li>A small river named Duden flows</li>
                        </ul>
                    </nb-card-body>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card accent="warning" status="warning">
                    <nb-card-header>Nhà tuyển dụng</nb-card-header>
                    <nb-card-body>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                        Originally, nebula was a name for
                        any diffuse astronomical object,
                        including galaxies beyond the Milky Way.
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-flip-card>
    </div>
</div>

<div class="row">
    <div class="col-xl-8">
        <nb-card *ngIf="companys.length === 0 && !loading">
            <nb-card-body>
                <div>Không có dữ liệu</div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-list nbInfiniteList listenWindowScroll [threshold]="500" (bottomThreshold)="loadNext()">
                <nb-list-item class="company" *ngFor="let company of companys">
                    <nb-card-body>
                        <h6 class="company-title text-uppercase" (click)="goToCompayDetail(company)">
                            {{company.full_name}}</h6>
                        <nb-user shape="rectangle" size="giant" [name]="company.address"
                            title="Nhân sự : {{company.member_total | staff}} người" [picture]="company.picture">
                        </nb-user>

                        <!-- <nb-icon icon="search-outline" pack="eva"></nb-icon>  -->
                    </nb-card-body>
                </nb-list-item>
                <nb-list-item *ngFor="let _ of placeholders">
                    <app-company-placeholder></app-company-placeholder>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
    <div class="col-xl-4">
        <nb-card size="giant">
            <nb-tabset fullWidth>
                <!-- Tab Top Review -->
                <nb-tab class="pd-0 tab-statistic-review-total" tabTitle="Top Review">
                    <nb-list>
                        <nb-list-item class="contact" *ngFor="let top of topCompanyReviews;let idx = index;">
                            <nb-badge [text]="idx+1" [status]="getStatus(idx)" position="left"></nb-badge>
                            <nb-user
                                [picture]="top.picture ? top.picture : 'https://via.placeholder.com/50/4479e7/ffffff?Text=IMG'"
                                [name]="top.full_name" [title]="'Tổng số lượt review :'+top.total_review" size="large">
                            </nb-user>
                            <nb-icon class="icon-search" icon="search-outline" pack="eva"
                                routerLink="/pages/company/{{top.company_id}}"></nb-icon>
                        </nb-list-item>
                    </nb-list>
                </nb-tab>
                <!-- Tab Comment -->
                <nb-tab class="pd-0 tab-statistic-comment" tabTitle="Bình luận">
                    <nb-list>
                        <nb-list-item class="contact" *ngFor="let comment of comments">
                            <div class="user-container">
                                <div class="user-picture initials">
                                    <img src="./assets/images/avatar-default-1.png" alt="avatar">
                                </div>
                                <div class="info-container">
                                    <div class="user-name">{{comment.nick_name}}</div>
                                    <div class="user-title">review về
                                        <a routerLink="/pages/company/{{comment.company_id}}">{{comment.full_name}}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <nb-user [picture]="''" [name]="comment.nick_name" [title]="'review về '+comment.full_name"
                                size="large">
                            </nb-user> -->
                            <span class="caption">{{ comment.date_add | date: 'short' }}</span>
                        </nb-list-item>
                    </nb-list>
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>
</div>