<div class="page-company-detail">
    <div class="row">
        <!-- Danh Gia -->
        <div class="col-xl-4 order-1 order-sm-1 order-xl-12">
            <nb-card>
                <nb-card-header>
                    Đánh giá
                </nb-card-header>
                <nb-card-body>
                    <nb-alert status="warning">
                        <strong>
                            <nb-icon nbTooltip="Price" nbTooltipPlacement="left" icon="pricetags-outline"></nb-icon>
                        </strong>
                        This alert needs your attention, but it's not super important.
                    </nb-alert>
                    <nb-alert status="success">
                        <strong>
                            <nb-icon nbTooltip="Type" nbTooltipPlacement="left" icon="settings-2-outline"></nb-icon>
                        </strong>
                        This alert needs your attention, but it's not super important.
                    </nb-alert>
                    <nb-alert status="info">
                        <strong>
                            <nb-icon nbTooltip="Star" nbTooltipPlacement="left" icon="star"></nb-icon>
                        </strong>
                        This alert needs your attention, but it's not super important.
                    </nb-alert>
                </nb-card-body>
                <!-- <nb-card-footer>
                    <div class="p-b-1r">
                        <label for="">Price</label>
                        <nb-select selected="1">
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                        </nb-select>
                    </div>
                    <div class="p-b-1r">
                        <label for="">Check</label>
                        <nb-select selected="1">
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                        </nb-select>
                    </div>
                    <div class="p-b-1r">
                        <label for="">Select</label>
                        <nb-select selected="1">
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                        </nb-select>
                    </div>
                    <button nbButton hero status="warning">Post</button>
                </nb-card-footer> -->
            </nb-card>
        </div>
        <!-- /Danh Gia -->
        <!-- Thong Tin Cong Ty && Binh Luan -->
        <div class="col-xl-8 order-2 order-sm-2 order-xl-1">
            <div class="row">
                <!-- Thong Tin Cong Ty -->
                <div class="col-xl-12">
                    <nb-card *ngIf="isLoading">
                        <nb-card-body>
                            <app-company-detail-placeholder></app-company-detail-placeholder>
                        </nb-card-body>
                    </nb-card>

                    <nb-card *ngIf="!isLoading">
                        <nb-card-header>
                            Thông tin
                        </nb-card-header>
                        <nb-card-body>
                            <h4 class="p-b-1r">{{company.full_name}}</h4>
                            <div class="company-inf">
                                <div class="row">
                                    <div class="col-xl-2 mr-auto text-center">
                                        <img src="https://via.placeholder.com/150/4479e7/ffffff?Text=IMG" alt="img">
                                    </div>
                                    <div class="col-xl-8 mr-auto">
                                        <p>
                                            <nb-icon nbTooltip="Địa chỉ" nbTooltipPlacement="top" icon="pin-outline"
                                                pack="eva">
                                            </nb-icon> : {{company.address ? company.address : 'Chưa có'}}
                                        </p>
                                        <p>
                                            <nb-icon nbTooltip="Số điện thoại" nbTooltipPlacement="top"
                                                icon="phone-outline" pack="eva">
                                            </nb-icon> : {{company.phone}}
                                        </p>
                                        <p>
                                            <nb-icon nbTooltip="Số nhân sự" nbTooltipPlacement="top"
                                                icon="people-outline" pack="eva">
                                            </nb-icon> : {{company.member_total | staff}}
                                        </p>
                                        <p>
                                            <nb-icon nbTooltip="Lĩnh vực" nbTooltipPlacement="top"
                                                icon="settings-outline" pack="eva">
                                            </nb-icon> : {{company.job_id}}
                                        </p>
                                        <p>
                                            <nb-icon nbTooltip="Email" nbTooltipPlacement="top" icon="email-outline"
                                                pack="eva">
                                            </nb-icon> : {{company.email ? company.email : 'Chưa có'}}
                                        </p>
                                    </div>
                                    <div class="col-xl-2 mr-auto text-right">
                                        <button nbButton hero status="warning" (click)="openReviewForm()">Nhận
                                            xét</button>
                                    </div>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
                <!-- /Thong Tin Cong Ty -->
                <!-- Binh Luan -->
                <div class="col-xl-12">
                    <nb-card accent="info" *ngFor="let review of reviewsList">
                        <nb-card-header>
                            <div class="review-header">
                                <nb-user size="large" [name]="'FAKE NAME'" [title]="'POSITION'" color="#cccccc">
                                </nb-user>
                                <span class="caption">{{review.date_add | date : 'short'}}</span>
                            </div>
                        </nb-card-header>
                        <nb-card-body>
                            {{review.comment}}
                        </nb-card-body>
                        <nb-card-footer>
                            <div class="review-list">
                                <div class="colors">
                                    <div class="review-item" *ngFor="let replyReview of replyReviews">
                                        <div class="avatar bg-body"></div>
                                        <div class="content ">
                                            <h6 class="">{{replyReview.fake_name}}</h6>
                                            {{replyReview.cmt}}
                                        </div>
                                        <div class="date caption text-right">{{replyReview.created}}
                                        </div>
                                    </div>
                                    <a class="text-link link-loadmore">Load more</a>
                                </div>
                            </div>
                            <form class="form-inline">
                                <input class="form-input-comment" type="text" status="primary" nbInput fullWidth
                                    placeholder="Comment">
                                <button type="submit" nbButton status="primary"
                                    (click)="onSubmitComment(review.review_id)">Submit</button>
                            </form>
                        </nb-card-footer>
                    </nb-card>
                    <button type="submit" nbButton status="primary">Xem thêm</button>

                </div>
                <!-- /Binh Luan -->
            </div>
        </div>
        <!-- /Thong Tin Cong Ty -->
    </div>
</div>