.page-company-detail {
  .mr-auto {
    margin: auto;
  }

  .company-inf {
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .p-b-1r {
    padding-bottom: 1rem;
  }

  label {
    width: 30%;
  }

  nb-select {
    width: 70%;
  }

  .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }

    .icon-search {
      cursor: pointer;
    }
  }

  .form-input-comment {
    flex: 1;
    margin-right: 1rem;
  }

  .review-list {
    .colors {
      display: flex;
      flex-direction: column;

      .review-item {
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;

        &:last-child {
          // margin-bottom: 0;
        }

        .avatar {
          width: 60px;
          height: 60px;

          //   border-top-right-radius: 1rem;
          //   border-bottom-left-radius: 1rem;
          //   margin-right: 1rem;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .content {
          padding-left: 20px;
          width: 80%;

          .username {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }
        }

        .date {
          width: 10%;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0.25rem;
      }



      .link-loadmore {
        margin-bottom: 1rem;
        cursor: pointer;
      }
    }
  }

  .review-content {
    white-space: pre-line;
    word-break: break-word;
  }
}
